<ion-content>

  <div text-center>
    <img src="assets/images/logo.jpeg" alt="sharing">
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="Username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block">Sign In</ion-button >
      </ion-col>
      <ion-col>
        <ion-button color="danger" expand="block">
          <ion-icon name="logo-googleplus"></ion-icon> 
          <span style="margin-left: 5px">Sign In</span>
        </ion-button >        
      </ion-col>
    </ion-row>
  </ion-grid>  
  
  <div text-center style="margin-top: 10%">
    <a  ion-item href >Sign Up</a >
  </div>
  
</ion-content>