<ion-header>
    <ion-toolbar>
        <ion-title>
        Home
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-searchbar animated="true"></ion-searchbar>
    <ion-card *ngFor="let cat of categories$ | async">
        <ion-img [src]="cat.photoURL"></ion-img>
        <ion-card-header>
            <ion-card-title>{{ cat.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{ cat.description }}</p>
        </ion-card-content>
    </ion-card>
</ion-content>
